<div class="justify-content-center row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form>
      <div class="form-group">
        <label for="img">Image</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ajouter la image"
        />
      </div>
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" placeholder="Maurice" />
      </div>
      <div class="form-group">
        <label for="Marque">Marque</label>
        <input type="text" class="form-control" placeholder="Renault" />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          class="form-control"
          placeholder="Date de début de vie"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        clic sur ce putain de bouton
      </button>
    </form>
  </div>
</div>
