<ul class="nav justify-content-center bg-light">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./']">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/signup']">SIGN UP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/user']">USER</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/contact']">CONTACT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/quetedirectives']">QUETE DIRECTIVES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/movies']">MOVIES</a>
  </li>
</ul>
