<ul class="nav justify-content-center bg-light">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./']">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/signup']">SIGN UP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/user']">USER</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/contact']">CONTACT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/quetedirectives']">QUETE DIRECTIVES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/movies']">MOVIES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/createkitten']">CREATE KITTEN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/listkitten']">LIST KITTEN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/userkitten']">USER KITTEN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/drivenform']">DRIVEN FORM</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/kitchen']">KITCHEN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/magicoven']">MAGIC COVEN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/developercomponent']"
      >DEVELOPER COMPONENT</a
    >
  </li>
</ul>
