<div class="card text-center mx-auto mt-5" style="width: 18rem;">
  <img class="card-img-top" src="{{ UnChat.image }}" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">Nom: {{ UnChat.name }}</h5>
    <p class="card-text">Marque: {{ UnChat.marque }}</p>
    <p class="card-text">Age: {{ UnChat.age }}</p>
  </div>
</div>

<!-- <div class="card text-center mx-auto mt-5" style="width: 18rem;">
  <img
    class="card-img-top"
    src="{{ LeChatDuForm.image }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Nom: {{ LeChatDuForm.name }}</h5>
    <p class="card-text">Marque: {{ LeChatDuForm.marque }}</p>
    <p class="card-text">Age: {{ LeChatDuForm.age }}</p>
  </div>
</div> -->
